<div class="jumbotron mb-0 mb-md-4">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-md-between pr-md-3">
            <div>
                <h1 class="title">Haley Hitch</h1>
                <h2 class="lead">Software Developer, Writer, Nerd</h2>
            </div>
            <div class="d-flex flex-column ml-lg-2 mt-0 mt-md-2 mt-lg-0 header-links">
                <a href="mailto:Haley%20Hitch<haley@dxdt.life>">
                    <i class="fas fa-envelope-square fa-lg"></i>
                    <span class="ml-2">haley@dxdt.life</span>
                </a>
                <span>
                    <i class="fas fa-phone-square fa-lg"></i>
                    <span class="ml-2">360.504.6039</span>
                </span>
                <a href="https://discord.gg/Vck3KSt">
                    <i class="fab fa-discord fa-lg"></i>
                    <span class="ml-2">dx/dt#6935</span>
                </a>
                <a href="http://dfdx.us/">
                    <i class="fas fa-external-link-square-alt fa-lg"></i>
                    <span class="ml-2">Projects</span>
                </a>
                <a href="https://github.com/dfoverdx/">
                    <i class="fab fa-github-square fa-lg"></i>
                    <span class="ml-2">Github</span>
                </a>
            </div>
        </div>
    </div>
</div>