<nav id="nav" class="navbar navbar-expand-md navbar-light bg-light align-self-start justify-content-between align-content-start flex-md-wrap mb-0 pl-md-0">
    <span class="navbar-brand d-md-none">Haley Hitch</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-div" aria-controls="nav-div" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav-div" class="collapse navbar-collapse">
        <nav id="nav-items" class="navbar-nav flex-column justify-content-start">
            <nav class="nav nav-pills flex-column justify-content-start ml-2">
                <%= navItems %>
            </nav>
        </nav>
    </div>
</nav>