.jumbotron .header-links a {
  text-decoration: none; }
  .jumbotron .header-links a:hover {
    text-decoration: none; }
  .jumbotron .header-links a span:hover {
    text-decoration: underline; }

#nav-wrapper {
  z-index: 9999; }
  @media (max-width: 575.98px) {
    #nav-wrapper {
      border-bottom: solid 1px #dee2e6;
      margin: 0 -15px; } }
  @media (max-width: 767.98px) {
    #nav-wrapper {
      position: -webkit-sticky;
      position: sticky;
      top: 0; } }

#nav {
  margin: 0 0 40px 20px;
  max-width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px; }
  @media (min-width: 576px) {
    #nav {
      border-radius: 0.25rem; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #nav {
      font-size: .9rem; }
      #nav.navbar-brand {
        font-size: 1rem; } }
  @media (max-width: 767.98px) {
    #nav {
      margin: 0 0 20px;
      max-height: calc(100vh - 2px);
      top: 0; }
      #nav.collapsing {
        margin-bottom: 0;
        margin-top: 0; } }
  #nav ins, #nav del {
    text-decoration: none; }
  #nav del {
    display: none; }
  #nav a.nav-link-wrapper:not(.active) .nav-link {
    background-color: unset;
    color: #007bff; }
    #nav a.nav-link-wrapper:not(.active) .nav-link:hover {
      color: #0056b3; }
  #nav a.nav-link-wrapper.active .nav-link {
    background-color: #4da3ff;
    color: #fff; }
  #nav .is-deleted a.nav-link-wrapper .nav-link {
    color: #dc3545; }
  #nav .is-deleted a.nav-link-wrapper.active .nav-link {
    background-color: #dc3545;
    color: #fff; }

#nav-div {
  overflow-y: auto;
  position: relative; }
  @media (min-width: 576px) and (max-width: 767.98px) {
    #nav-div {
      max-height: calc(100vh - 70px); } }
  @media (max-width: 767.98px) {
    #nav-div {
      margin-top: 10px;
      max-height: calc(100vh - 61px); }
      .collapsing #nav-div {
        margin-top: 0; } }
  @media (min-width: 768px) {
    #nav-div {
      align-content: flex-start;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: -.9rem !important;
      max-height: calc(100vh - 80px);
      min-height: calc(100vh - 80px); } }
  #nav-div::-webkit-scrollbar {
    width: 8px; }
  #nav-div::-webkit-scrollbar-track {
    background: #f8f9fa; }
  #nav-div::-webkit-scrollbar-thumb {
    transition: background-color .5s ease-in-out; }
  #nav-div:hover::-webkit-scrollbar-thumb {
    background-color: #bdc6d0;
    border-radius: 0.5rem; }
    #nav-div:hover::-webkit-scrollbar-thumb:hover {
      background-color: #9fadba; }

@media (min-width: 992px) {
  #nav-items {
    min-width: 250px; } }

@media (min-width: 768px) {
  #nav-items .nav.collapse.show {
    display: flex; } }

#nav-items a.nav-link.nav-link-wrapper {
  padding-bottom: 0;
  padding-top: 0;
  width: 100%; }
  #nav-items a.nav-link.nav-link-wrapper.collapse:not(.show) {
    display: none; }
  #nav-items a.nav-link.nav-link-wrapper .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap; }
  #nav-items a.nav-link.nav-link-wrapper.active {
    background-color: unset !important; }

#nav-items nav nav nav a.nav-link.nav-link-wrapper .nav-link {
  white-space: normal; }

@media (max-width: 767.98px) {
  .nav-link-wrapper .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }

.list-group, #md .card-text > ul, #md .card-text ol {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0; }

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit; }
  .list-group-item-action:hover, .list-group-item-action:focus {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa; }
  .list-group-item-action:active {
    color: #212529;
    background-color: #e9ecef; }

.list-group-item, #md .card-text > ul > li, #md .card-text ol > li {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .list-group-item:first-child, #md .card-text > ul > li:first-child, #md .card-text ol > li:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .list-group-item:last-child, #md .card-text > ul > li:last-child, #md .card-text ol > li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .list-group-item:hover, #md .card-text > ul > li:hover, #md .card-text ol > li:hover, .list-group-item:focus, #md .card-text > ul > li:focus, #md .card-text ol > li:focus {
    z-index: 1;
    text-decoration: none; }
  .list-group-item.disabled, #md .card-text > ul > li.disabled, #md .card-text ol > li.disabled, .list-group-item:disabled, #md .card-text > ul > li:disabled, #md .card-text ol > li:disabled {
    color: #6c757d;
    background-color: #fff; }
  .list-group-item.active, #md .card-text > ul > li.active, #md .card-text ol > li.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }

.list-group-flush .list-group-item, .list-group-flush #md .card-text > ul > li, #md .list-group-flush .card-text > ul > li, .list-group-flush #md .card-text ol > li, #md .card-text .list-group-flush ol > li {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.list-group-flush:first-child .list-group-item:first-child, .list-group-flush:first-child #md .card-text > ul > li:first-child, #md .list-group-flush:first-child .card-text > ul > li:first-child, .list-group-flush:first-child #md .card-text ol > li:first-child, #md .card-text .list-group-flush:first-child ol > li:first-child {
  border-top: 0; }

.list-group-flush:last-child .list-group-item:last-child, .list-group-flush:last-child #md .card-text > ul > li:last-child, #md .list-group-flush:last-child .card-text > ul > li:last-child, .list-group-flush:last-child #md .card-text ol > li:last-child, #md .card-text .list-group-flush:last-child ol > li:last-child {
  border-bottom: 0; }

.list-group-item-primary {
  color: #004085;
  background-color: #b8daff; }
  .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #004085;
    background-color: #9fcdff; }
  .list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #004085;
    border-color: #004085; }

.list-group-item-secondary {
  color: #383d41;
  background-color: #d6d8db; }
  .list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #383d41;
    background-color: #c8cbcf; }
  .list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #383d41;
    border-color: #383d41; }

.list-group-item-success {
  color: #155724;
  background-color: #c3e6cb; }
  .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
    color: #155724;
    background-color: #b1dfbb; }
  .list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #155724;
    border-color: #155724; }

.list-group-item-info {
  color: #0c5460;
  background-color: #bee5eb; }
  .list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
    color: #0c5460;
    background-color: #abdde5; }
  .list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #0c5460;
    border-color: #0c5460; }

.list-group-item-warning {
  color: #856404;
  background-color: #ffeeba; }
  .list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
    color: #856404;
    background-color: #ffe8a1; }
  .list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #856404;
    border-color: #856404; }

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb; }
  .list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
    color: #721c24;
    background-color: #f1b0b7; }
  .list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #721c24;
    border-color: #721c24; }

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe; }
  .list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #818182;
    background-color: #ececf6; }
  .list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182; }

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca; }
  .list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: #1b1e21;
    background-color: #b9bbbe; }
  .list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21; }

#md {
  width: 100%; }
  @media (min-width: 768px) {
    #md {
      padding-bottom: 500px; } }
  #md h1 {
    margin-top: 3rem; }
    #md h1::before {
      content: ' ';
      display: block;
      visibility: hidden;
      pointer-events: none;
      height: 2rem;
      margin-top: -2rem; }
      @media (max-width: 767.98px) {
        #md h1::before {
          height: 5rem;
          margin-top: -5rem; } }
  #md #tldr + table {
    margin-left: 2rem;
    font-size: 1.25rem; }
    @media (max-width: 575.98px) {
      #md #tldr + table {
        margin-left: 0; }
        #md #tldr + table tr:nth-child(2n) {
          background-color: #e9ecef; }
        #md #tldr + table td:first-child {
          padding-left: 0.5rem; }
        #md #tldr + table td:last-child {
          padding-right: 0.5rem; } }
    #md #tldr + table td:first-child {
      padding-right: 1rem; }
  #md .title {
    display: flex; }
    #md .title p:only-child {
      display: flex;
      flex: 1;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between; }
    #md .title strong {
      font-size: 1.25rem;
      display: inline-block;
      align-self: flex-end; }
    #md .title em {
      display: inline-block;
      align-self: flex-end; }
  #md .job {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 0; }
    #md .job p:first-child {
      margin-bottom: 0; }
    #md .job ul:only-child {
      margin-top: -1rem; }
    #md .job ul {
      list-style-type: none;
      padding-left: 0; }
      #md .job ul li {
        padding-left: 0.5rem;
        text-indent: -0.5rem; }
  @media (max-width: 575.98px) {
    #md .title p:only-child {
      flex-direction: column; }
    #md .title strong {
      font-size: 1.125rem;
      align-self: flex-start;
      display: block; }
    #md .title em {
      align-self: left; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #md .title p:only-child {
      flex-direction: column; }
    #md .title strong {
      font-size: 1.125rem;
      align-self: flex-start;
      display: block; }
    #md .title em {
      align-self: left; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #md .title p:only-child {
      flex-direction: column; }
    #md .title strong {
      font-size: 1.125rem;
      align-self: flex-start;
      display: block; }
    #md .title em {
      align-self: left; } }
  #md .carousel-wrapper {
    margin-top: 2rem; }
  @media (max-width: 575.98px) {
    #md .carousel-wrapper {
      margin-left: -15px;
      margin-right: -15px; } }
  #md .carousel {
    width: 100%; }
    @media (min-width: 768px) {
      #md .carousel {
        border-radius: 0.25rem; } }
  #md .carousel-inner {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    max-height: 500px; }
  #md .carousel-item {
    max-height: 500px;
    width: 100%; }
  #md .card-body {
    height: 100%;
    width: 100%;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    flex-direction: column; }
  @media (max-width: 991.98px) {
    #md .carousel-control-prev, #md .carousel-control-next {
      width: 10%; }
    #md .carousel-inner {
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      height: 70vh; }
    #md .carousel-item {
      height: 100% !important; }
    #md .card-body {
      padding-bottom: 0.25rem;
      height: 100%; }
    #md .card-text-wrapper {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px; } }
  #md .all-visible .carousel-item {
    display: block;
    visibility: hidden; }
    #md .all-visible .carousel-item, #md .all-visible .carousel-item .card-body {
      height: fit-content !important; }
  #md .card-text-wrapper {
    display: flex;
    flex: 1;
    overflow-y: auto; }
    #md .card-text-wrapper::-webkit-scrollbar {
      width: 8px; }
    #md .card-text-wrapper::-webkit-scrollbar-track {
      background: #f8f9fa; }
    #md .card-text-wrapper::-webkit-scrollbar-thumb {
      transition: background-color .5s ease-in-out; }
    #md .card-text-wrapper:hover::-webkit-scrollbar-thumb {
      background-color: #bdc6d0;
      border-radius: 0.5rem; }
      #md .card-text-wrapper:hover::-webkit-scrollbar-thumb:hover {
        background-color: #9fadba; }
  #md ul, #md ol {
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0; }
    #md ul ul, #md ul ol, #md ol ul, #md ol ol {
      padding-left: 1rem; }
  #md .card-text {
    min-height: min-content;
    flex-direction: column;
    display: flex;
    width: 100%; }
    #md .card-text hr {
      width: 100%; }
    #md .card-text > ul, #md .card-text ol {
      width: 100%; }
      #md .card-text > ul > li:nth-child(2n), #md .card-text ol > li:nth-child(2n) {
        background-color: #e9ecef; }
      #md .card-text > ul > li ul li, #md .card-text > ul > li ol li, #md .card-text ol > li ul li, #md .card-text ol > li ol li {
        padding-left: 0.5rem;
        text-indent: -0.5rem; }

@media (max-width: 767.98px) {
  div.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-indez: 10000; }
  body.noscroll {
    overflow: hidden;
    height: 100%;
    max-height: 100%; }
    body.noscroll div.overlay {
      position: fixed;
      height: 100%; } }
